@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "poppinsExtraBold";
    src: url("./assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsBold";
    src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsSemibold";
    src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsMedium";
    src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsRegular";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsLight";
    src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsExtraLight";
    src: url("./assets/fonts/ExtraLight.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsThin";
    src: url("./assets/fonts/Poppins-Thin.ttf") format("truetype");
  }
}
