@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "poppinsExtraBold";
    src: url("./assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsBold";
    src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsSemibold";
    src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsMedium";
    src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsRegular";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsLight";
    src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsExtraLight";
    src: url("./assets/fonts/ExtraLight.ttf") format("truetype");
  }
  @font-face {
    font-family: "poppinsThin";
    src: url("./assets/fonts/Poppins-Thin.ttf") format("truetype");
  }
}

.my-scrollbar {
  scrollbar-width: none; /* For Firefox */
  scrollbar-color: gray #f0f0f0; /* Thumb and track colors for Firefox */
}

/* Chrome, Edge, Safari */
.my-scrollbar::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
  height: 10px; /* Horizontal scrollbar height */
}

.my-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
}

.my-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ff4d4f; /* Thumb color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f0f0f0; /* Optional: Thumb border */
}
.my-scrollbar::-webkit-scrollbar-button {
  display: none; /* Removes the increment/decrement buttons */
}
